@debugbackgroundcolor: #cbec0c;
@applybackgroundcolor: #fff;
@usefont: PingFangSC-Regular;
@m-font-family:'Microsoft YaHei UI', 'Microsoft YaHei', BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'Source Han Sans CN', sans-serif;

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: @m-font-family;

    .video {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .top {
        width: 100%;
        // height: 100%;
        /* 设置元素两端对齐 */
        // text-align: center;
        display: flex;
        flex-direction: row;
        background-color: @applybackgroundcolor;
        position: relative;
        // justify-content: space-between;
        justify-content:space-between;
        margin-top: 20px;

        // justify-content: center;
        .titlefont {
            // width: 125px;
            width: auto;
            height: 32px;
            font-family:@m-font-family;
            font-size: 24px;
            color: #461111;
            line-height: 32px;
            font-weight: 400;
        }


        .topleft {
            position: relative;
            margin-left: 8px;
            display: inline-block;
            height: 100%;
            // line-height: 100%;
            margin-top: -2px;
            margin-bottom: 2px;

            // margin-top: 4px;
            .returnfont {
                // width: 44px;
                width: auto;
                height: 24px;
                font-family:@m-font-family;
                font-size: 22px;
                color: #1890FF;
                letter-spacing: 0;
                line-height: 24px;
                font-weight: 400;
            }
        }

        .topright {
            position: relative;
            width: auto;
            margin-right: 32px;
            display: inline-block;
            height: 100%;
            line-height: 100%;
            // border: 1px;
             margin-top: -6px;
             margin-bottom: 6px;

            .resetfont {
                width: 100px;
                height: 28px;
                font-family: @m-font-family;
                font-size: 22px;
                color: #1890FF;
                letter-spacing: 0;
                text-align: center;
                font-weight: 400;
                
            }

            .savefont {
                width: 40px;
                height: 28px;
                font-family: @m-font-family;
                font-size: 22px;
                color: #1890FF;
                letter-spacing: 0;
                text-align: center;
                font-weight: 400;
                margin-right: 12px;
            }
        }

    }

    .divider{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .configspan {
        
        .labelfont {
            width: 100px;
            height: 28px;
            font-family: @m-font-family;
            font-size: 20px;
            color: #222222;
            font-weight: 400;
        }



        .input {
            width: 160px;
            height: 52px;
            background: #FFFFFF;
            border: 1.5px solid #CCCCCC;
            border-radius: 4px;
        }

        .inputspan {
            position: relative;
            top: -5px;
        }
    }

    

    // .inputspan.input {
    //     width: 160px;
    //     height: 52px;
    //     background: #FFFFFF;
    //     border: 1.5px solid #CCCCCC;
    //     border-radius: 4px;
    // }
}

//备份
// .main {
//     display: flex;
//     flex-direction: column;
//     justify-content: end;
//     .top {
//         width: 100%;
//         height: 100%;
//         /* 设置元素两端对齐 */
//         text-align: center;
//         // background-color: bisque;
//         position: relative;
//         margin-top: 24px;
//         .topspan {
//             width: 100px;
//             height: 50px;
//             /* 设置盒子为行内块 */
//             display: inline-block;
//             background-color: skyblue;
//             /* 设置盒子内元素水平居中 */
//             // text-align: right;
//             /* 设置盒子内容垂直居中 */
//             line-height: 50px;
//             margin-top: 16px;
//         }

//         .topright {
//             position: absolute;
//             right: 32px;
//             display: inline-block;
//             height: 100%;
//             line-height: 100%;
//             // margin-top: -1px;
//         }

//         .topleft {
//             position: absolute;
//             left: 32px;
//             display: inline-block;
//             height: 100%;
//             line-height: 100%;
//             margin-top: 4px;
//         }

//         .titlefont {
//             width: 118px;
//             height: 32px;
//             font-family: PingFangSC-Regular;
//             font-size: 24px;
//             color: #461111;
//             text-align: right;
//             line-height: 32px;
//             font-weight: 400;
//         }

//         .returnfont {
//             width: 44px;
//             height: 24px;
//             font-family: PingFangSC-Regular;
//             font-size: 22px;
//             color: #1890FF;
//             letter-spacing: 0;
//             line-height: 24px;
//             font-weight: 400;
//         }

//         .resetfont {
//             width: 100px;
//             height: 28px;
//             font-family: PingFangSC-Regular;
//             font-size: 20px;
//             color: #1890FF;
//             letter-spacing: 0;
//             text-align: right;
//             font-weight: 400;
//         }

//         .savefont {
//             width: 40px;
//             height: 28px;
//             font-family: PingFangSC-Regular;
//             font-size: 20px;
//             color: #1890FF;
//             letter-spacing: 0;
//             text-align: right;
//             font-weight: 400;
//         }
//     }

//     // .top:after {
//     //     content: "";
//     //     display: inline-block;
//     //     overflow: hidden;
//     //     width: 100%;
//     // }




//     .startposfont {
//         width: 100px;
//         height: 28px;
//         font-family: PingFangSC-Regular;
//         font-size: 20px;
//         color: #222222;
//         font-weight: 400;
//     }

//     .endposfont {
//         width: 100px;
//         height: 28px;
//         font-family: PingFangSC-Regular;
//         font-size: 20px;
//         color: #222222;
//         font-weight: 400;
//     }

//     .input {
//         width: 160px;
//         height: 52px;
//         background: #FFFFFF;
//         border: 1.5px solid #CCCCCC;
//         border-radius: 4px;
//     }

//     .inputspan {
//         position: relative;
//         top: -5px;
//     }

//     // .inputspan.input {
//     //     width: 160px;
//     //     height: 52px;
//     //     background: #FFFFFF;
//     //     border: 1.5px solid #CCCCCC;
//     //     border-radius: 4px;
//     // }
// }